@import url(../../styles/main.css);
@import url(../../styles/burger.css);
@import url(../../styles/header.css);
@import url(../../styles/footer.css);


.statistic {
    padding: 30px 0;
}
.year__tittle {
    color: #1151d3;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
}
.statistic__card {
    padding: 15px;
}
.month__tittle {
    font-weight: 700;
    margin-bottom: 10px;
}
.news__month {
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 10px;
}
.bold__email {
    font-weight: 700;
    text-decoration: none;
}
.comment__baa {
    width: 65%;
    padding: 30px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: -1px 0px 8px 2px rgba(34, 60, 80, 0.2);
}
.comment__baa__main {
    width:70%;
    padding: 30px;
    border-radius: 5px;
    background-color: #f1f1f1;
}
.comment__baa > .anotherDescr , .comment__baa__main > .anotherDescr  {
    margin-top: 0 ;
    margin-bottom: 5px;
}
.car__sales {
    padding: 15px 0;
}
.comment__tittle {
    font-size: 15px;
    line-height: 17px;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    color: #3a3b43;
    text-align: left;
    margin-bottom: 10px;
}
.sec__tittle {
    margin-top: 25px;
}
.comment__author {
    text-align: right;
    color: rgb(58, 59, 67);;
    font-weight: 600;
    margin-bottom: 5px;
}
.author__wrap {
    display: flex;
    flex-direction: column;
}
.author__wrap > .description {
    margin-top: 0;
    text-align: right;
    font-style: italic;
}
@media (max-width:768px) {
    .comment__baa {
        width: 100%;
    }
}