@import url(../../styles/main.css);
@import url(../../styles/burger.css);
@import url(../../styles/header.css);
@import url(../../styles/footer.css);

.rules {
    width: 100%;
    background-color: #ffffff;
    padding: 30px 0;
    overflow: auto;
}
.rules__info {
    display: flex;
    justify-content: space-between;
}
.rule__text__wrap {
    max-width: 65%;
}
.img {
    width: 35%;
    height: 250px;
}
.img > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.rule__inner {
    width: 100%;
    background-color: #f1f1f1;
    padding: 25px;
    border-radius: 5px;
}

.rules__download {
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7em;
    margin-top: 20px;
    text-decoration: none;
    color: #1151d3;
    word-wrap: wrap;
}
.rules__download::before {
    content: '\f15c';
    color: #1151d3;
    font-family: FontAwesome;
    margin-right: 10px;
}
@media (max-width:670px) {
    .rules__info {
        flex-direction: column-reverse;
    }
    .rule__inner {
        width: 100%;
        margin-bottom: 20px;
    }
    .rule__text__wrap {
        max-width: 100%;
        margin: 0 auto;
    }
    .img {
        display: none;
    }
}