@import url(../../../styles/main.css);
@import url(../../../styles/burger.css);
@import url(../../../styles/header.css);
@import url(../../../styles/footer.css);

.lizing__text__wrapper {
    padding: 15px;
    border-radius: 5px;
    background-color: #f1f1f1;
}
.lizing__info__author {
    text-align: right;
    color: rgb(73, 73, 73);
    font-weight: 600;
}
.lizing__info__date {
    color: rgb(73, 73, 73);
    font-weight: 600;
}