.baa {
    width: 100%;
    padding: 270px 0;
    background-image: url(../assets/Desktop\ -\ 2.png);
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
}
.baa__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.social__button {
    width: 130px;
    height: 40px;
    color: #ffffff;
    border: none;
    background-color: #1151d3;
    border-radius: 5px;
    margin-right: 20px;
    box-shadow: 0 6px 4px -4px rgba(17, 81, 211, 0.63);
}
.social__button:first-child {
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgb(0 0 0 / 46%);

}
.social__button:first-child > a {
    color: #2f2f2f;
}
.social__button > a {
    font-size: 15px;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    line-height: 1.7em;
    text-align: center;
    text-decoration: none;
    color: #ffffff;

}


.social {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 1250px)  {
    .baa {
        background-position: top right;
        background-size: cover;
    }
}

@media (max-width: 768px) {
    .baa {
        padding: 97px 0;
        height: 100vh;
        background-image: url(../assets/Desktop\ -\ 1\ mobile.png);
        background-position: right;
    }

    .social {
        flex-direction: column;
    }
    .social__button {
        width: 150px;
        margin-left: 0;
        margin-bottom: 20px;
    }
    .baa__box > .tittle {
        font-size: 20px;
        line-height: 25px;
    }
    .baa__box > .subtittle {
        font-size: 17px;
        line-height: 20px;
    }
}
@media (max-width: 560px) {
    .baa__box > .tittle {
        max-width: 100px;
    }
    .baa__box > .subtittle {
        max-width: 100px;
    }
}