.baa {
    width: 100%;
    padding: 330px 0;
    background-image: url(../assets/Desktop\ -\ 2.png);
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
}
.baa__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.social {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 1170px)  {
    .baa {
        background-position: top right;
        background-size: cover;
    }
}

@media (max-width: 768px) {
    .baa {
        padding: 97px 0;
        height: 100vh;
        background-image: url(../assets/Desktop\ -\ 1\ mobile.png);
        background-position: right;
    }
    .social > a > img {
        width: 80%;
        height: 80%;

    }
    .social {
        flex-direction: column;
    }
    .baa__box > .tittle {
        font-size: 20px;
        line-height: 25px;
    }
    .baa__box > .subtittle {
        font-size: 17px;
        line-height: 20px;
    }
}
@media (max-width: 560px) {
    .baa__box > .tittle {
        max-width: 100px;
    }
    .baa__box > .subtittle {
        max-width: 100px;
    }
}