.footer {
    width: 100%;
    padding: 30px 0;
    background-color: #000000;
}
.footer__descr {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}
.inner__foot {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.number__white::before {
    color: #ffffff;
    content: '\f095';;
    font-family: FontAwesome;
    margin-right: 10px;
}