.goals {
    width: 100%;
}
.goals__wrap {
    display: flex;
}
.info__goals {
    padding: 80px 75px;
    background-color: #eff4ff;
}
.goals__tittle {
    font-size: 30px;
    font-family: "Roboto";
    font-weight: normal;
    color: rgb(40, 40, 40);
    line-height: 1;
    text-align: left;
    margin-bottom: 30px;
}
.goals__description {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(88, 88, 88);
    line-height: 1.2;
    text-align: left;
    margin-bottom: 45px;
}
.goal__card {
    display: flex;
}
.g__inner > h3 {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(40, 40, 40);
    line-height: 1.2;
    text-align: left;
    margin-bottom: 15px;
}
.g__inner {
    margin-left: 15px;
}
@media (max-width: 1450px) {
    .info__goals {
        padding: 40px 35px;
    }
}
@media (max-width: 1185px) {
    .info__goals {
        padding: 30px;
    }
}
@media (max-width: 920px) {
    .img__wrap {
        display: none;
    }
}