.header {
    position: fixed;
    width: 100%;
    padding: 25px 0;
    background-color: #ffffff;
    z-index: 9999;
}
.header__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo {
    position: relative;
    z-index: 5;
}
.navigation {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.navigation > li {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation > li:not(:last-child) {
    margin-right: 25px;  
}
.navigation:after, .submenu:after {
    content: "";
    display: table;
    clear: both;
}
.navigation > li > a:hover {color: #1151d3;}
.dropdown:after {
  content: "\f107";
  font-family: FontAwesome;
  margin-left: 4px;
  vertical-align: top;
}
.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    border-top: 1px solid #e5e5e5;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.07);
    background-color: #ffffff;
    padding: 25px;
    z-index: 2;
    transition: all 0.3 ease;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    transform: translate3d(0,30px,0);
    transition: .5s ease-out;
    transform-origin: 0% 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation > li:hover .submenu {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0,0,0);
  }
.submenu__item {
    float: left;
    width: calc(100% / 3);
    padding: 0 18px;
    border-right: 1px solid #e5e5e5;
}
.submenu__item:last-child {
    border-right: none;
}
.dropdown:hover .submenu {visibility: visible; opacity: 1;}

.submenu__item > h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: #595959;
    text-align: left;
    margin-bottom: 15px;
}
.submenu__item  > ul {
    list-style: none;
}
.submenu__item > ul > li {
    margin-bottom: 10px;
}
.submenu__item > ul > li > a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #595959;
    text-decoration: none;
}

.nav__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: #595959;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s linear;
}

.nav__btn {
    padding: 10px 15px;
    color: #ffffff;
    border: none;
    background-color: #1151d3;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
}
.burger__nav {
    display: none;
    margin-right: 15px;
}
/* .burger__wrap {
    display: none;
} */
.burger {
    position: relative;
    z-index: 5;
    width: 30px;
    height: 18px;
}
.burger span,
.burger::before,
.burger::after {
    position: absolute;
    left: 0;
    height: 20%;
    width: 100%;
    transition: all 0.3s ease;
    background-color: #1151d3 ;
}
.burger::before,
.burger::after {
    content: '';
}
.burger::before {
    top: 0;
}
.burger::after {
    bottom: 0;
}
.burger span {
    top: 50%;
    transform: scale(1) translate(0px , -50%);
}
.burger._active span{
    transform: scale(0) translate(0px , -50%);
}
.burger._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px , -50%);
}
.burger._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px , 50%);
}

.burger__wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 115px 30px 30px;
    transition: left 0.3s ease;
    overflow: auto;
    display: none;
}
.burger__wrap::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    background-color: #ffffff;
}
.burger__wrap._active {
    display: block;
}
.burger__links  {
    list-style: none;
}
.burger__links > li {
    margin-bottom: 30px;
}
.burger__links > li:last-child {
    margin-bottom: 0;
}
.burger__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #595959;
    text-decoration: none;
    text-transform: uppercase;
}
body._lock {
    overflow: hidden;
}
@media (max-width: 1200px) {
    .logo > img {
        width: 80%;
        height: 80%;
    }
    .nav__link {
        font-size: 14px;
        line-height: 15px;
    }
    .nav__btn {
        padding: 8px 11px;
        font-size: 22px;
        line-height: 24px;
    }
    .nav__link:not(:last-child) {
        margin-right: 17px;
    }
    .navigation > li:not(:last-child) {
        margin-right: 15px;  
    }
}
@media (max-width: 860px) {
    .nav__link {
        font-size: 13px;
        line-height: 14x;
    }
}

@media (max-width: 830px) {
    .logo > img {
        width: 75%;
        height: 75%;
    }
    .logo {
        left: 12px;
    }
    .navigation {
        display: none;
    }
    .burger__nav {
        display: block;
    }
}