.header {
    position: fixed;
    width: 100%;
    padding: 25px 0;
    background-color: #ffffff;
    z-index: 9999;
    position: relative;
}
.header__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    position: relative;
    z-index: 5;
}
.navigation {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.navigation > li {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation > li:not(:last-child) {
    margin-right: 25px;
}
.navigation:after, .submenu:after {
    content: "";
    display: table;
    clear: both;
}
.navigation > li > a:hover {color: #1151d3;}
.dropdown:after {
  content: "\f107";
  font-family: FontAwesome;
  margin-left: 4px;
  vertical-align: top;
  display: inline-block;
}
.submenu {
    position: absolute;
    top: 77%;
    left: 0;
    border-top: 1px solid #e5e5e5;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.07);
    background-color: #ffffff;
    padding: 25px;
    z-index: 2;
    transition: all 0.3 ease;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    /* transform: translate3d(0,30px,0); */
    transition: 0.3 ease;
    transform-origin: 0% 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation > li:hover .submenu {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0,0,0);
  }
.submenu__item {
    float: left;
    width: calc(100% / 3);
    padding: 0 18px;

}
/* .submenu__item:not(:last-child) {
    border-right: 1px solid #e5e5e5;
} */
/* .dropdown:hover .submenu {visibility: visible; opacity: 1;} */
.submenu__item:nth-child(1) {
    border-right: 1px solid #e5e5e5;
} 
.submenu__item:nth-child(2) {
    border-right: 1px solid #e5e5e5;
} 

.submenu.open {
    visibility: visible;
    opacity: 1;
}
.submenu__item > h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    color: #1151d3;
    text-align: left;
    margin-bottom: 15px;
}
.submenu__item  > ul {
    list-style: none;
}
.submenu__item > ul > li {
    margin-bottom: 10px;
}
.submenu__item > ul > li > a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #595959;
    text-decoration: none;
}
.submenu__item > ul > li > a:hover {
    color: #1151d3;
}

.nav__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: #595959;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s linear;
}

.nav__btn {
    padding: 10px 15px;
    color: #ffffff;
    border: none;
    background-color: #1151d3;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
}

@media (max-width: 1200px) {
    .logo > img {
        width: 80%;
        height: 80%;
    }
    .nav__link {
        font-size: 14px;
        line-height: 15px;
    }
    .nav__btn {
        padding: 8px 11px;
        font-size: 22px;
        line-height: 24px;
    }
    .nav__link:not(:last-child) {
        margin-right: 17px;
    }
    .navigation > li:not(:last-child) {
        margin-right: 15px;
    }
}
@media (max-width: 860px) {
    .nav__link {
        font-size: 13px;
        line-height: 14x;
    }
}

@media (max-width: 830px) {
    .logo > img {
        width: 75%;
        height: 75%;
    }
    .logo {
        left: 12px;
    }
    .navigation {
        display: none;
    }
    .burger__nav {
        display: block;
    }
}