.header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 20px 0;
    background-color: #ffffff;
    z-index: 9999;
}
.header__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 20;
}
.header__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    position: relative;
    z-index: 10;
}
.navigation {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.navigation > li {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation > li:not(:last-child) {
    margin-right: 25px;
}
.navigation:after, .submenu:after {
    content: "";
    display: table;
    clear: both;
}
.navigation > li > a:hover {color: #1151d3;}
.dropdown:after {
  content: "\f107";
  font-family: FontAwesome;
  margin-left: 4px;
  vertical-align: center;
  display: inline-block;

}

.submenu__box {
    max-width: calc(1110px + 16px*2);
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
}
.submenu {
    position: absolute;
    top: -100%;
    left: 0;
    border-top: 1px solid #e5e5e5;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.07);
    background-color: #ffffff;
    padding: 10px;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    transform: translateY(-10px);
    transition: top .7s ease-in-out , opacity 0.3s 0.4s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.submenu__box {
    max-width: calc(1110px + 16px*2);
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.submenu__item {
    padding: 20px;
    max-width: 33%;
    width: 100%;
}

.submenu__item:not(:last-child) {
    border-right: 1px solid #e5e5e5;
}

.submenu.open {
    top: 100%;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.submenu__item > a {
    font-size: 15px;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    color: #595959;
    text-align: left;
    margin-bottom: 15px;
    text-decoration: none;
}

.nav__btn {
    padding: 8px 12px;
    color: #ffffff;
    border: none;
    background-color: #1151d3;
    text-align: center;
    font-size: 15px;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    line-height: 17px;
}

@media (max-width: 1200px) {
    .logo > img {
        width: 80%;
        height: 80%;
    }
    .links__font__style {
        font-size: 14px;
        line-height: 15px;
    }
    .nav__btn {
        padding: 7px 10px;
        font-size: 19px;
        line-height: 23px;
    }
    .links__font__style:not(:last-child) {
        margin-right: 17px;
    }
    .navigation > li:not(:last-child) {
        margin-right: 15px;
    }
}
@media (max-width:925px) {
    .links__font__style {
        font-size: 12px;
        line-height: 13x;
    }
    .links__font__style:not(:last-child) {
        margin-right: 10px;
    }
    .navigation > li:not(:last-child) {
        margin-right: 10px;
    }
}
@media (max-width: 860px) {
    .links__font__style {
        font-size: 13px;
        line-height: 14x;
    }
}

@media (max-width: 830px) {
    .logo > img {
        width: 75%;
        height: 75%;
    }
    .logo {
        left: 12px;
    }
    .navigation {
        display: none;
    }
    .burger__nav {
        display: block;
    }
}