@import url(./itc-slider.min.css);
@import url(./burger.css);
@import url(./header.css);
@import url(./baa.css);
@import url(./footer.css);
@import url(./contacts.css);
@import url(./news.css);
@import url(./participants.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.disabled {
    pointer-events: none;
    cursor: default;
}
.content {
    max-width: calc(1110px + 16px*2);
    margin: 0 auto;
    padding: 0 16px;
}
.item__icon {
    display: block;
    margin: 0 auto;
    margin-bottom: 18px;
}
.item__tittle {
    font-size: 16px;
    font-family: "Montserrat";
    color: rgb(40, 40, 40);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 22px;
}
.anotherTittle {
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 600;
    font-size: 25px;
    line-height: 33px;
    color: #000000;
    text-align: left;
    margin-bottom: 30px;
}
.nav__bread > a {
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    font-family: "Montserrat";
    color: rgb(88, 88, 88);
    line-height: 1.2;
    margin-right: 10px;
}
.arrow:hover {
    color: #1151d3;
}
.arrow::after {
    content: '\f105';
    color: #595959;
    font-family: FontAwesome;
    font-size: 12px;
}
.anotherSubtittle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 25px;
}
.anotherDescr {
    font-size: 16px;
    font-family: "Montserrat";
    color: rgb(88, 88, 88);
    line-height: 1.2;
    text-align: left;
    margin-bottom: 20px;
}
.description {
    font-size: 16px;
    font-family: "Montserrat";
    color: rgb(88, 88, 88);
    line-height: 1.2;
    text-align: center;
}
.scroll__to__top {
    position: fixed;
    top: 85%;
    width: 40px;
    height: 40px;
    right: 3%;
    border-radius: 50%;
    font-size: 20px;
    background-color: #1151d3;
    border: none;
    color: #ffffff;
    display: none;
}
.scroll__to__top::after {
    content: '\f106';
    font-family: FontAwesome;
    color: #ffffff;
    font-size: 35px;
}
@media (max-width: 1200px) {
    .item__tittle , .description {
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .item__tittle , .description {
        font-size: 16px;
    }
}
.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.5);
	z-index: 99;
	opacity: 0;
	visibility: hidden;
}

.overlay.open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
}

