.news {
    width: 100%;
    padding: 70px 0 100px;
    background-color: #eff4ff;
}
.news__tittle {
    font-size: 25px;
    font-family: "Roboto";
    color: rgb(40, 40, 40);
    line-height: 1.2;
    text-align: left;
    margin-bottom: 50px;
}

.news__card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news__subtittle {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(40, 40, 40);
    line-height: 1.2;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 22px;
}
.news__description{
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(88, 88, 88);
    line-height: 1.2;
    text-align: left;
    margin-bottom: 25px;
}
.image__wrap {
    position: relative;
}
.image__wrap > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.category__wrap {
    position: absolute;
    padding: 10px;
    background-color: #ffffff;
    left: 50%;
    bottom: -30px;
    transform: translate(-50%, -50%);
    display: flex;
}
.category , .date {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.category > span , .date > span {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(40, 40, 40);
    line-height: 1;
    margin-left: 5px;
    white-space: nowrap;
}
.category {
    margin-right: 10px;
}
.fa-calendar-days , .fa-user {
    color: #1151d3;
}
.item__button {
    width: 120px;
    height: 40px;
    background-color: #1151d3;
    border: none;
    border-radius: 25px;
    color: #ffffff;
    font-size: 15px;
    font-family: "Roboto";
    margin-top: auto;
}
.slider {
    margin: 0 auto;
}
.slider__wrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.slider__item {
    flex: 0 0 33%;
    max-width: 33%;
    padding: 0 20px;
}
.text__wrap {
    flex: 1 1 auto;
}
.slider__control[data-slide=next] {
    right: -20px;
}
.slider__control[data-slide=prev] {
    left: -30px;
}


@media (max-width: 1200px) {
    .category > span , .date > span {
        font-size: 10px;
    }
    .fa-calendar-days , .fa-user {
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    .slider__item {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 11px;
    }
    .slider__control {
        display: none;
    }
}
@media (max-width: 768px) {
    .slider__item {
        flex: 0 0 75%;
        max-width: 75%;
        padding: 0 11px;
        overflow: hidden;
    }
}