.participants {
    width: 100%;
    padding: 100px 0;
    background-color: #ffffff;
}
.participants__title {
    text-align: center;
    margin-bottom: 25px;
}
.participants__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 10px;
}
.participants__participant {
    padding: 16px 12px;
    width: 11%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.participants__participant > img {
    filter: grayscale(100%);
    transition: all 0.5s ease;
    max-width: 80%;
    width: 100%;
}
.participants__participant > img:hover {
    filter: grayscale(0);
    transition: all 0.5s ease;
    /* box-shadow: 2px 1px 50px 12px rgba(17, 81, 211, 0.36); */
}
@media (max-width: 1200px) {
    .participants__participant {
        width: 20%;
    }
}
@media (max-width: 900px) {
    .participants__participant {
        width: 25%;
    }
    .participants__participant > img {
        filter: grayscale(0);
    }
}
@media (max-width: 768px) {
    .participants__title {
        text-align: left;
    }
    .participants__participant {
        width: 33%;
    }
}