@import url(../../styles/main.css);
@import url(../../styles/burger.css);
@import url(../../styles/header.css);
@import url(../../styles/footer.css);

.history {
    width: 100%;
    background-color: #ffffff;
    padding: 30px 0;
}
.img__wrapper {
    padding: 30px 0;
    display: flex;
}
.img {
    width: 50%;
    padding: 0 10px;
}
.img > img {
    object-fit: cover;
    width: 100%;
}
.img > .vertical {
    object-fit: contain;
}
.slider__item {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}
.slider__item > img {
    object-fit: cover;
    width: 100%;
}
@media (max-width: 750px) {
    .img__wrapper {
        padding: 20px 0;
        flex-direction: column;
    }
    .img {
        max-width: 100%;
        width: 100%;
        padding: 0 10px;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    .img > img {
        border-radius: 5px;
    }
    .img:last-child {
        margin-bottom: 0;
    }
    .slider__item {
        flex: 0 0 75%;
        max-width: 75%;
        padding: 0 15px;
        overflow: hidden;
    }
    .slider__item > img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}

/* .history__info {
    padding-bottom: 50px;
}
.history__line__1 {
    display: flex;
    padding-top: 20px;
    padding-bottom: 40px ;
}

.timeline {
    display: flex;
}
.line {
    width: 20%;
    height: 15px;
}
.line:nth-child(odd) {
    background-color: #1151d3;
}
.line:nth-child(even) {
    background-color: #cccccc;
}
.line__1__img__wrap {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top__img , .bottom__img {
    padding: 0 10px;
    border-radius: 5px;
}
.top__img > img , .bottom__img > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.blue__line {
    margin: 20px auto 0;
    width: 2px;
    height: 80px;
    background-color: #1151d3;
}
.line__1__text__wrap {
    width: 20%;
    padding: 60px 20px 0 20px;
    display: flex;
    flex-direction: column;
}
.line__1__text__wrap > .tittle , .line__2__text__wrap > .tittle {
    text-align: center;
    margin-bottom: 0;
}
.history__line__2 {
    display: flex;
    padding-top: 40px ;
}
.line__2__text__wrap {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 10px 20px 0;
}
.line__2__img__wrap {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gray__line {
    width: 2px;
    height: 80px;
    background-color: #cccccc;
    margin: 0 auto 20px;
}
.history__info__mobile {
    display: none;
}
.mobile__line__blue {
    max-width: 15px;
    width: 100%;
    height: 280px;
    background-color: #1151d3;
}
.year__inner {
    margin-left: 20px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: end; 
}
.year__inner > .tittle {
    margin-bottom: 0;
}
.blue {
    border-bottom: 3px solid #1151d3 ;
}
.year__wrap {
    display: flex;
}
.mobile__line__gray {
    max-width: 15px;
    width: 100%;
    height: 280px;
    background-color: #cccccc;
}
.gray {
    border-bottom: 3px solid #cccccc ;
}

@media (max-width: 900px) {
    .history__info {
        display: none;
    }
    .history__info__mobile {
        display: block;
    }
 
} */