@import url(../../styles/main.css);
@import url(../../styles/burger.css);
@import url(../../styles/header.css);
@import url(../../styles/footer.css);

.history {
    width: 100%;
    background-color: #ffffff;
    padding: 30px 0;
}
.img__wrapper {
    padding: 30px 0;
    display: flex;
}
.img {
    width: 50%;
    padding: 0 10px;
}
.img > img {
    object-fit: cover;
    width: 100%;
}
.img > .vertical {
    object-fit: contain;
}
.slider__item {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}
.slider__item > img {
    object-fit: cover;
    width: 100%;
}
.slider__item > .vertical {
    object-fit: contain;
}