@import url(../../../styles/main.css);
@import url(../../../styles/burger.css);
@import url(../../../styles/header.css);
@import url(../../../styles/footer.css);

.sales__data__text__wrapper {
    padding: 25px;
    border-radius: 5px;
    background-color: #f1f1f1;
}
.sales__data__info__author {
    text-align: right;
    color: rgb(73, 73, 73);
    font-weight: 600;
}
.sales__data__info__date {
    color: rgb(73, 73, 73);
    font-weight: 600;
}
.sales__data__text__wrapper > .anotherDescr {
    margin-top: 0;
}
.sales__data__info__date {
    margin-bottom: 25px;
    margin-top: 0;
}