@import url(../../styles/main.css);
@import url(../../styles/burger.css);
@import url(../../styles/header.css);
@import url(../../styles/footer.css);

.join__us {
    width: 100%;
    background-color: #ffffff;
    padding: 30px 0;
}
.text__wrapper {
    display: flex;
    justify-content: space-between;
}
.join__inner {
    padding-right: 30px;
}
.documents__inner {
    background-color: #f1f1f1;
    padding: 25px;
    height: 100%;
    width: 40%;
    border-radius: 5px;
}
.img >img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.download__files {
    display: flex;
    flex-direction: column;
}
.download {
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7em;
    text-decoration: none;
    color: #1151d3;
    word-wrap: wrap;
}
.download:nth-child(2) {
    margin: 10px 0;
}
.download::before {
    content: '\f15c';
    color: #1151d3;
    font-family: FontAwesome;
    margin-right: 10px;
}

@media (max-width:1110px) {
    .text__wrapper {
        flex-direction: column-reverse;
    }
    .join__inner {
        padding-right: 0;
    }
    .documents__inner {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}
@media (max-width:800px) {
    .img {
        display: none;
    }
    .text__wrapper {
        max-width: 100%;
        width: 100%;
        padding-left: 0;
    }
    .download {
        font-size: 10px;
    }
    .anotherSubtittle {
        font-size: 17px;
        line-height: 20px;
    }
    .anotherDescr {
        font-size: 14px;
        line-height: 1.2;
    }
}
